doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Decider

		link(rel="stylesheet" type="text/css" href="css/styles.css")
	body
		.home
		
		
		// Javascript

		// JQuery
		script(src="https://code.jquery.com/jquery-2.2.4.min.js"
	  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	  crossorigin="anonymous")

		// Mustache
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js")

		// Templates
		script(src="js/template-includes.js")

		// Custom scripts
		script(src="js/scripts.js")